* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: rgb(173, 252, 163);
}

header {
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px auto;
    padding: 0 20px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #40b736;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: rgb(0, 0, 0);
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
}

.nav-links a:hover {
    background-color: #40b736;
    border-radius: 4px;
    color: white;
}

.about {
    position: relative; /* Change from fixed to relative */
    top: 30px;
    left: 20px;
}

.about h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.image-container {
    position: relative; /* Change from fixed to relative */
    top: 50px;
    left: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.image-container img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.1);
}
.container1 {
    position: relative;
    top: 95px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 500px;
    padding: 60px;
    font-family: 'Philosopher', sans-serif;
    border-radius: 50%;
    background-color: #f5f5f5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-right: 20px;
    float: left; /* Add this line to align the container to the left */
}

.did-you-know {
    font-size: 2em; /* Decrease font-size */
    color: #0077b6;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.paragraph {
    color: #333;
    line-height: 1.6;
    text-indent: 30px;
}

.form-container {
    position: relative;
    top: 120px; /* Adjusted to match the position of container1 */
    left: 20px; /* Adjust as needed */
    max-width: 400px;
    padding: 20px;
    font-family: 'Philosopher', sans-serif;
    background-color: #f5f5f5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    float: right;
    margin-right: 100px; /* Add this line to align the form to the right */
}
.form-container form {
    text-align: center;
}

.form-container label {
    display: block;
    margin-bottom: 10px;
}

.form-container select, .form-container button {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form-container button {
    background-color: #40b736;
    color: white;
    border: none;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #1f9405;
}
